import discord
from discord.ext import commands
import os
import random

intents = discord.Intents.default()
intents.message_content = True

bot = commands.Bot(command_prefix='$', intents=intents)

@bot.event
async def on_ready():
    print(f'Бот {bot.user} запущен!') 

@bot.command()
async def task(ctx):
    with open('text/tasks.txt', 'r', encoding='utf-8') as f:
        # В переменную кладем файл, который преобразуется в файл библиотеки Discord!
        file_lines = [line.replace('\n', '').strip() for line in f.readlines()]
   # Можем передавать файл как параметр!
    await ctx.send(random.choice(file_lines))

bot.run('token here')
